{% extends 'base.html' %}

{% block title %}
Main page
{% endblock %}


{% block body %}
<h1 align="center" class="display-4 fw-normal">Main page</h1>


<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">About myself</h1>
          <p class="col-md-8 fs-4">Hi! I am Kerim, and I am a student of first course MPTI. I am 19 years old and I am not married yet =).</p>
          <p class="col-md-8 fs-4">I study in Phystech School of Applied Mathematics and Computer Science. I am going to tell you about myself</p>
          <p class="col-md-8 fs-4">I was born in not so big town named Byuzmein near Ashgabat. I studied in school number number 6. It was the funniest times when I can carelessly be fool. I think reader will understand me</p>
          <p class="col-md-8 fs-4">So I have studied there for twelve year. Over the course of my eductating I often played in subject competitions with other school children and every time I won prize places, but sometimes not the first :)
              I have several diplomas from regional and city Olympiads in physics and mathematics.
In other subjects, I also had good academic performance.
I graduated in 2021 with honors and in the same year I became a student at MIPT FPMI.
The subjects I was preferenced in were Math, Physic and Informatic.  </p>
      </div>
     {% endblock %}